Repository AdekunleBamz/NFTminimint: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --fix, npx prettier --write

.lintstagedrc:

{
  "*.sol": [
    "npx solhint --fix",
    "npx prettier --write"
  ],
  "*.{js,ts}": [
    "npx prettier --write"
  ],
  "*.{json,md}": [
    "npx prettier --write"
  ]
}

feat: upgrade all contracts to V2 with Base mainnet deployment
  README.md
  contracts/NFTAccess.sol
  contracts/NFTCollection.sol
  contracts/NFTCore.sol
  contracts/NFTMetadata.sol
  contracts/NFTminimint.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTCoreV3 with batch transfers, token locking, and soul-bound tokens
  contracts/NFTCoreV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTMetadataV3 with on-chain traits and dynamic attributes
  contracts/NFTMetadataV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTAccessV3 with tiered whitelist and referral system
  contracts/NFTAccessV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTCollectionV3 with dynamic royalties and phases
  contracts/NFTCollectionV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTMarketplaceV3 with listings, offers, and auctions
  contracts/NFTMarketplaceV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTStakingV3 with lock tiers and rewards
  contracts/NFTStakingV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTminimintV3 main controller
  contracts/NFTminimintV3.sol
Due: npx solhint --fix, npx prettier --write

chore: bump version to v3.0.0 and simplify scripts
  package.json
Due: npx prettier --write

docs: simplify deployment instructions
  README.md
Due: npx prettier --write

chore: remove scripts from CODEOWNERS
  .github/CODEOWNERS
Due: none

cleanup: remove airdrop automation script
  scripts/airdrop.js
Due: npx prettier --write

cleanup: remove collection-stats script
  scripts/collection-stats.js
Due: npx prettier --write

cleanup: remove configure-royalty script
  scripts/configure-royalty.js
Due: npx prettier --write

cleanup: remove deploy-all script
  scripts/deploy-all.js
Due: npx prettier --write

cleanup: remove interact script
  scripts/interact.js
Due: npx prettier --write

cleanup: remove link-contracts script
  scripts/link-contracts.js
Due: npx prettier --write

cleanup: remove manage-whitelist script
  scripts/manage-whitelist.js
Due: npx prettier --write

cleanup: remove refresh-metadata script
  scripts/refresh-metadata.js
Due: npx prettier --write

cleanup: remove snapshot script
  scripts/snapshot.js
Due: npx prettier --write

cleanup: remove upgrade script
  scripts/upgrade.js
Due: npx prettier --write

cleanup: remove verify-contracts script
  scripts/verify-contracts.js
Due: npx prettier --write

cleanup: remove verify script
  scripts/verify.js
Due: npx prettier --write

cleanup: remove MockERC721Receiver
  contracts/mocks/MockERC721Receiver.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTAccess
  contracts/mocks/MockNFTAccess.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTAllowlist
  contracts/mocks/MockNFTAllowlist.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBatchMintLimit
  contracts/mocks/MockNFTBatchMintLimit.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBatchTransfer
  contracts/mocks/MockNFTBatchTransfer.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBlacklist
  contracts/mocks/MockNFTBlacklist.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCollection
  contracts/mocks/MockNFTCollection.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCore
  contracts/mocks/MockNFTCore.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCrosschain
  contracts/mocks/MockNFTCrosschain.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTDynamicPricing
  contracts/mocks/MockNFTDynamicPricing.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTEnumerable
  contracts/mocks/MockNFTEnumerable.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove all automation scripts
  scripts/airdrop.js
  scripts/collection-stats.js
  scripts/configure-royalty.js
  scripts/deploy-all.js
  scripts/interact.js
  scripts/link-contracts.js
  scripts/manage-whitelist.js
  scripts/refresh-metadata.js
  scripts/snapshot.js
  scripts/upgrade.js
  scripts/verify-contracts.js
  scripts/verify.js
Due: npx prettier --write

cleanup: remove all mock contracts
  contracts/mocks/MockERC721Receiver.sol
  contracts/mocks/MockNFTAccess.sol
  contracts/mocks/MockNFTAllowlist.sol
  contracts/mocks/MockNFTBatchMintLimit.sol
  contracts/mocks/MockNFTBatchTransfer.sol
  contracts/mocks/MockNFTBlacklist.sol
  contracts/mocks/MockNFTCollection.sol
  contracts/mocks/MockNFTCore.sol
  contracts/mocks/MockNFTCrosschain.sol
  contracts/mocks/MockNFTDynamicPricing.sol
  contracts/mocks/MockNFTEnumerable.sol
  contracts/mocks/MockNFTFreeMint.sol
  contracts/mocks/MockNFTGated.sol
  contracts/mocks/MockNFTLazyMint.sol
  contracts/mocks/MockNFTMaxSupplyChange.sol
  contracts/mocks/MockNFTMerkleAllowance.sol
  contracts/mocks/MockNFTMetadata.sol
  contracts/mocks/MockNFTMetadataFreeze.sol
  contracts/mocks/MockNFTMintCooldown.sol
  contracts/mocks/MockNFTPermit.sol
  contracts/mocks/MockNFTProvenance.sol
  contracts/mocks/MockNFTRandomMint.sol
  contracts/mocks/MockNFTReferral.sol
  contracts/mocks/MockNFTRefundable.sol
  contracts/mocks/MockNFTRentable.sol
  contracts/mocks/MockNFTRoyalty.sol
  contracts/mocks/MockNFTRoyaltySplit.sol
  contracts/mocks/MockNFTSoulbound.sol
  contracts/mocks/MockNFTStaking.sol
  contracts/mocks/MockNFTSupplyBuffer.sol
  contracts/mocks/MockNFTTokenLockup.sol
  contracts/mocks/MockNFTTransferAllowlist.sol
  contracts/mocks/MockNFTTransferCooldown.sol
  contracts/mocks/MockNFTWalletCap.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove airdrop script
  scripts/airdrop.js
Due: npx prettier --write

cleanup: remove MockNFTGated
  contracts/mocks/MockNFTGated.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTLazyMint
  contracts/mocks/MockNFTLazyMint.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTMaxSupplyChange
  contracts/mocks/MockNFTMaxSupplyChange.sol
Due: npx solhint --fix, npx prettier --write
