Repository AdekunleBamz/NFTminimint: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTMerkleAllowance
  contracts/mocks/MockNFTMerkleAllowance.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTMetadata
  contracts/mocks/MockNFTMetadata.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTMetadataFreeze
  contracts/mocks/MockNFTMetadataFreeze.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTMintCooldown
  contracts/mocks/MockNFTMintCooldown.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTPermit
  contracts/mocks/MockNFTPermit.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTProvenance
  contracts/mocks/MockNFTProvenance.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTRandomMint
  contracts/mocks/MockNFTRandomMint.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTReferral
  contracts/mocks/MockNFTReferral.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTRefundable
  contracts/mocks/MockNFTRefundable.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTRentable
  contracts/mocks/MockNFTRentable.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTRoyalty
  contracts/mocks/MockNFTRoyalty.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTRoyaltySplit
  contracts/mocks/MockNFTRoyaltySplit.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTSoulbound
  contracts/mocks/MockNFTSoulbound.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTStaking
  contracts/mocks/MockNFTStaking.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTSupplyBuffer
  contracts/mocks/MockNFTSupplyBuffer.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTTokenLockup
  contracts/mocks/MockNFTTokenLockup.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTTransferAllowlist
  contracts/mocks/MockNFTTransferAllowlist.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTTransferCooldown
  contracts/mocks/MockNFTTransferCooldown.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTWalletCap
  contracts/mocks/MockNFTWalletCap.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTMetadataV3 with on-chain traits and dynamic attributes (#39)
  contracts/NFTMetadataV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTAccessV3 with tiered whitelist and referral system (#40)
  contracts/NFTAccessV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTCollectionV3 with dynamic royalties and phases (#41)
  contracts/NFTCollectionV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTMarketplaceV3 with listings, offers, and auctions (#42)
  contracts/NFTMarketplaceV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTStakingV3 with lock tiers and rewards (#43)
  contracts/NFTStakingV3.sol
Due: npx solhint --fix, npx prettier --write

feat(contracts): add NFTminimintV3 main controller (#44)
  contracts/NFTminimintV3.sol
Due: npx solhint --fix, npx prettier --write

chore: bump version to v3.0.0 and simplify scripts (#45)
  package.json
Due: npx prettier --write

docs: simplify deployment instructions (#46)
  README.md
Due: npx prettier --write

chore: remove scripts from CODEOWNERS (#47)
  .github/CODEOWNERS
Due: none

cleanup: remove airdrop automation script (#48)
  scripts/airdrop.js
Due: npx prettier --write

cleanup: remove collection-stats script (#49)
  scripts/collection-stats.js
Due: npx prettier --write

cleanup: remove configure-royalty script (#50)
  scripts/configure-royalty.js
Due: npx prettier --write

cleanup: remove deploy-all script (#51)
  scripts/deploy-all.js
Due: npx prettier --write

cleanup: remove interact script (#52)
  scripts/interact.js
Due: npx prettier --write

cleanup: remove link-contracts script (#53)
  scripts/link-contracts.js
Due: npx prettier --write

cleanup: remove manage-whitelist script (#54)
  scripts/manage-whitelist.js
Due: npx prettier --write

cleanup: remove refresh-metadata script (#55)
  scripts/refresh-metadata.js
Due: npx prettier --write

cleanup: remove snapshot script (#56)
  scripts/snapshot.js
Due: npx prettier --write

cleanup: remove upgrade script (#57)
  scripts/upgrade.js
Due: npx prettier --write

cleanup: remove verify-contracts script (#58)
  scripts/verify-contracts.js
Due: npx prettier --write

cleanup: remove verify script (#59)
  scripts/verify.js
Due: npx prettier --write

Path conditions:
  npx solhint --fix: any of: *.sol
  npx prettier --write: ((any of: *.sol) or (any of: *.{js,ts})) or (any of: *.{json,md})
