Repository AdekunleBamz/NFTminimint: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --fix, npx prettier --write

cleanup: remove MockERC721Receiver (#60)
  contracts/mocks/MockERC721Receiver.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTAccess (#61)
  contracts/mocks/MockNFTAccess.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTAllowlist (#62)
  contracts/mocks/MockNFTAllowlist.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBatchMintLimit (#63)
  contracts/mocks/MockNFTBatchMintLimit.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBatchTransfer (#64)
  contracts/mocks/MockNFTBatchTransfer.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTBlacklist (#65)
  contracts/mocks/MockNFTBlacklist.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCollection (#66)
  contracts/mocks/MockNFTCollection.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCore (#67)
  contracts/mocks/MockNFTCore.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTCrosschain (#68)
  contracts/mocks/MockNFTCrosschain.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTDynamicPricing (#69)
  contracts/mocks/MockNFTDynamicPricing.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove MockNFTEnumerable (#70)
  contracts/mocks/MockNFTEnumerable.sol
Due: npx solhint --fix, npx prettier --write

cleanup: remove all mock contracts (#72)
  contracts/mocks/MockNFTFreeMint.sol
  contracts/mocks/MockNFTGated.sol
  contracts/mocks/MockNFTLazyMint.sol
  contracts/mocks/MockNFTMaxSupplyChange.sol
  contracts/mocks/MockNFTMerkleAllowance.sol
  contracts/mocks/MockNFTMetadata.sol
  contracts/mocks/MockNFTMetadataFreeze.sol
  contracts/mocks/MockNFTMintCooldown.sol
  contracts/mocks/MockNFTPermit.sol
  contracts/mocks/MockNFTProvenance.sol
  contracts/mocks/MockNFTRandomMint.sol
  contracts/mocks/MockNFTReferral.sol
  contracts/mocks/MockNFTRefundable.sol
  contracts/mocks/MockNFTRentable.sol
  contracts/mocks/MockNFTRoyalty.sol
  contracts/mocks/MockNFTRoyaltySplit.sol
  contracts/mocks/MockNFTSoulbound.sol
  contracts/mocks/MockNFTStaking.sol
  contracts/mocks/MockNFTSupplyBuffer.sol
  contracts/mocks/MockNFTTokenLockup.sol
  contracts/mocks/MockNFTTransferAllowlist.sol
  contracts/mocks/MockNFTTransferCooldown.sol
  contracts/mocks/MockNFTWalletCap.sol
Due: npx solhint --fix, npx prettier --write

Add CONTRIBUTING
  CONTRIBUTING.md
Due: npx prettier --write

Update README
  README.md
Due: npx prettier --write

Add .gitignore
  .gitignore
Due: none

Add LICENSE
  LICENSE
Due: none

Path conditions:
  npx solhint --fix: any of: *.sol
  npx prettier --write: ((any of: *.sol) or (any of: *.{js,ts})) or (any of: *.{json,md})
