Repository AdekunleBamz/NFTminimint: changes, and which lint-staged commands are due for each by the changed paths.
All: npx solhint --fix, npx prettier --write

.lintstagedrc:

{
  "*.sol": [
    "npx solhint --fix",
    "npx prettier --write"
  ],
  "*.{js,ts}": [
    "npx prettier --write"
  ],
  "*.{json,md}": [
    "npx prettier --write"
  ]
}

Add types
  types.ts
Due: npx prettier --write

Add constants
  constants.ts
Due: npx prettier --write

Add utils
  utils.ts
Due: npx prettier --write

Add config docs
  CONFIG.md
Due: npx prettier --write

Add API docs
  API.md
Due: npx prettier --write

Add test
  test.ts
Due: npx prettier --write

Add helper
  helper.ts
Due: npx prettier --write

Add test spec
  test.spec.ts
Due: npx prettier --write

Add validator
  validator.ts
Due: npx prettier --write

Add mock
  mock.ts
Due: npx prettier --write

Add config
  config.js
Due: npx prettier --write

Add env
  environment.js
Due: npx prettier --write

Add plugins
  plugins.js
Due: npx prettier --write

Add settings
  settings.js
Due: npx prettier --write

Add build docs
  BUILD.md
Due: npx prettier --write

Add getTotalMinted function
  contracts/NFTCoreV3.sol
Due: npx solhint --fix, npx prettier --write

feat(ui): make wallet chip copyable
  frontend/src/components/Header.css
  frontend/src/components/Header.jsx
Due: none

feat(ui): explain mint action states
  frontend/src/components/MintCard.css
  frontend/src/components/MintCard.jsx
Due: none

feat(ui): sharpen gallery search feedback
  frontend/src/components/Gallery.css
  frontend/src/components/Gallery.jsx
Due: none

feat(ui): replace footer placeholder links
  frontend/src/components/Footer.css
  frontend/src/components/Footer.jsx
Due: none

feat(ui): surface local mint activity
  frontend/src/App.jsx
  frontend/src/components/RecentMints.css
  frontend/src/components/RecentMints.jsx
  frontend/src/components/Stats.css
  frontend/src/components/Stats.jsx
Due: none

Remove unused Husky pre-commit hook
  .husky/pre-commit
Due: none

Improve page navigation and Stacks-specific hero copy
  frontend/src/App.css
  frontend/src/App.jsx
Due: none

Improve wallet copy feedback and button semantics
  frontend/src/components/Header.css
  frontend/src/components/Header.jsx
Due: none

Validate token URI format before mint submission
  frontend/src/components/MintCard.css
  frontend/src/components/MintCard.jsx
Due: none

Speed up gallery search with quick filters and keyboard clear
  frontend/src/components/Gallery.css
  frontend/src/components/Gallery.jsx
Due: none

Respect reduced-motion preference across interactive UI
  frontend/src/index.css
Due: none
